

#drop_zone {
    border: 5px solid blue;
    width:  200px;
    height: 100px;
}

p {
    text-align: center;
}

#wrap .box { 
    width:300px;
    height:300px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-150px;
    margin-top:-150px;
}

#wrap .box p {
    text-align: center;
}

